<!DOCTYPE html>
<html>
<head>
    <title>Meadowlark Travel</title>
</head>
<body>
    <header><img src="/img/logo.png" width="200px" height="67.6px" alt="Meadowlark Travel Logo" ></header>
    {{{body}}}
</body>
<html>

